<div ng-repeat="stream in streams">
	<div class="card">
		<div class="col s12 football-card-header">
			<p>
				<div class="col s8">
					{{stream.game}}
				</div>
				<div class="col s4" style="padding:5px;">
					<a href="{{stream.reddit_url}}" type="button" class="btn btn-default" target="_blank"  style="float: right;">
	  					<span class="glyphicon glyphicon-globe" aria-hidden="true">Reddit</span>
					</a>
				</div>
			</p>
		</div>
		<div class="col s12 football-card-content">
			<div ng-repeat="all_link in stream.links.all_links track by $index">
				<a href="{{all_link.link}}" target="_blank">{{all_link.desc}}</a>
			</div>
      <div ng-show="stream.links.kodi_links.length">
        <hr/>
        <b>Kodi Links:</b>
        <div ng-repeat="link in stream.links.kodi_links track by $index">
  				<a href="{{link.link}}" target="_blank">{{link.desc}}</a>
  			</div>
      </div>
			<p>{{stream.err_msg}}</p>						
		</div>
	</div>
</div>

<div class="center">
	<div ng-show="error_msg.length">
		<h1>{{error_msg}}</h1>
		<a href="{{error_link}}" target="_blank">Check Reddit for more</a>
	</div>
	<img  src="gears.gif" style="visibility:{{state}}; width:100px;"/>
</div>
