<select class="form-control" ng-model="type" ng-change="update(type)" >
  <option value="nfl">NFL</option>
  <option value="nhl">NHL</option>
  <option value="mlb">MLB</option>
  <option value="nba">NBA</option>
</select>

<hr/>

<div ng-repeat="stream in streams">
	<div class="card">
		<div class="col-xs-12 football-card-header">
			<p>
				<div class="col-xs-10">
					{{stream.game}} 	
				</div>
				<div class="col-xs-2">
					<a href="{{stream.reddit_url}}" type="button" class="btn btn-default" target="_blank">
	  					<span class="glyphicon glyphicon-globe" aria-hidden="true">Reddit</span>
					</a>
				</div>				
			</p>
		</div>
		<div class="col-xs-12 football-card-content">
			<div ng-repeat="link in stream.links track by $index">
				<a href="{{link}}" target="_blank">{{link}}</a>
			</div>
			<p>{{stream.err_msg}}</p>
		</div>
	</div>
</div>

<div class="center">
	<h1>{{error_msg}}</h1>
	<img  src="gears.gif" style="visibility:{{state}}; width:100px;"/>
</div>
