body {
	font-size: 18px;
	font-weight: bold;
}

textarea {
	height:100%;
}

img {
    width: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.football-card {
	max-width: 100%;
	min-height: 175px;
}

.football-card-header {
	background: #364C88;
	color: white;	
	padding: 16px;
}

.football-card-content {
	padding-bottom: 16px;
}

.modal-content {
	height: 75%;
}

.container {
    	width: 100%;
}

.panel {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	background: #EEE;
	padding-left: 25px;
}