body {
	font-size: 18px;
	font-weight: bold;
}
img {
	width: 100%;
}
textarea {
	height:100%;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.football-card {
	max-width: 100%;
	min-height: 175px;
}

.football-card-header {
	background: #364C88;
	color: white;	
	padding: 16px;
}

.football-card-content {
	padding-bottom: 16px;
}

.modal-content {
	height: 75%;
}

.container {
    	width: 100%;
}

.panel {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	background: #EEE;	
}

.panel-lost {
	background: #F44336;	
}

.card-container {
	padding-top:16px;
}

.stream-container {
	padding-top:32px;
}